.home-container {
    display: flex;
    flex-direction: row;
    width: 85%; /* Use full width to accommodate children */
    margin: 0 auto; /* Center the container */
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.map-container {
    flex: 0; /* Adjust the flex ratio */
    position: relative;
    height: 95vh; /* Fixed height */
}

.sidebar {
    flex: 1;
    width: 20vh; /* Adjust the width as needed */
    height: 95vh; /* Full viewport height */
    overflow-y: auto; /* Enables vertical scrolling */
    border: .2vh solid #ddd; /* Optional */
    border-radius: 3px; /* Optional */
}