/* JourneyCard.css */
.journey-card {
    border: .2vh solid grey;
    background-color: grey; /* This represents grey[200] */
    margin: .25vh;
}

.journey-title {
    text-align: center;
    color: grey;
}

.journey-distance {
    margin-bottom: 1.5em;
    font-size: 14px;
    color: grey;
}
